---
extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length:
    max: 200
    level: warning
  truthy: disable

ignore: |
  .github/stale.yml
  Amazon/
  AzureResourceManager/
  CloudFormation/
  Openshift4/
  Terraform/
